<form class="ui large form segment">
  <h3 class="ui hader">Add a Link</h3>
  <div class="field">
    <label for="title">Title:</label>
    <input type="text" name="title" id="title" #newTitle />
  </div>
  <div class="field">
    <label for="link">Link:</label>
    <input type="text" name="link" id="link" #newLink />
  </div>

  <button
    (click)="addArticle(newTitle, newLink)"
    class="ui positive right floated button"
  >
    Submit Link
  </button>
</form>

<div class="ui grid posts">
  <!-- <app-article *ngFor="let item of articles" [article]='item'></app-article> -->
  <app-article *ngFor="let item of sortedArticles()" [article]='item'></app-article>
</div>
